<mat-grid-list cols="5" rowHeight="100%">
    <mat-grid-tile colspan="4" [ngStyle]="{'background-color': 'skyblue'}">
        <div class="question-list">
            <div *ngFor="let question of this.questions;" >
                <div class="question">
                    <h1>{{ question['asker_username'] }}</h1>
                    {{ question['question'] }}
                    <p style="text-align: right;">Votes: {{ question['upvotes'] }}</p>
                </div>
                <hr>
            </div>
        </div>
        </mat-grid-tile>
    <mat-grid-tile [ngStyle]="{'background-color': 'red'}">2</mat-grid-tile>
</mat-grid-list>