<div class="container" style="margin-top: 10px;">
  <mat-card fxLayout="column">
    <div class="question-header" fxLayout="column" fxLayoutALign="center center">
      <h1>
        {{ question.question }}
      </h1>
      <hr>
    </div>
  </mat-card>

  <mat-card id="answer-card">
    <div *ngFor="let answer of answers">
      <div>
        <mat-grid-list cols="5">
          <mat-grid-tile colspan="1">
            <div class="upvote-downvote" fxLayout="column" fxLayoutGap="5px">
              <button mat-button [ngStyle]="{'background-color': answer.getUpvoteUserStatus ? '#43cffa' : 'white'}"
                (click)="upvotebuttonpressed(answer)"><img src="assets/chevron-compact-up.svg" height="20px"
                  width="20px"></button>
                  <h3> {{ answer.getUpvotes() }}</h3>
              <button mat-button [ngStyle]="{'background-color': answer.getUpvoteUserStatus() == false ? '#eb3d54' : 'white'}"
                (click)="downvotebuttonpressed(answer)"><img src="assets/chevron-compact-down.svg" height="20px"
                  width="20px"></button>
              
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <quill-view [content]="answer.getAnswerContent()"></quill-view>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <a [routerLink]="['/profile', answer.getAnswerUser().getUserid()]">
              {{ answer.getAnswerUser().getUsername() }}
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <hr>
    </div>

    <h1>
      Your answer:
    </h1>
    <quill-editor [formControl]="answer" style="background-color: white"></quill-editor>
    <button mat-button color="primary" style="margin-top: 5px;" (click)="submitanswer()">Submit</button>
  </mat-card>
</div>