<div style="display: flex; justify-content: space-between">
  <a [routerLink]="['/question/', question.question_id]" style="color: black">
    {{ question.question }}
  </a>

  <div fxLayout="row">
    <div *ngFor="let tag of question.tags">
      <a class="post-tag" (click)="onTagNavigate(tag)">
        {{ tag }}
      </a>
    </div>
  </div>

  <div fxLayout="column">
    <a id="asker_username" [routerLink]="['/profile', question.asker.userid]" style="color: black;">
      {{ question.asker.username }}
    </a>

    {{ question.date_asked.toTimeString() }}
  </div>
</div>
<hr />