<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <a [routerLink]="['/home']" style="color: black;">
      HomeworkOverflow
    </a>
  </div>

  <form class="form-inline my-2 my-lg-0 mx-auto">
    <input [formControl]="searchquery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
  </form>

  <button mat-flat-button color="warn" (click)="logout()">Logout</button>
</nav>