<div class="container">
  <mat-card fxLayout="column">
    <div class="question-header" fxLayout="column" fxLayoutALign="center center">
        <h1>
            {{ question.question }}
        </h1>
        <hr>
    </div>
  </mat-card>

  <mat-card id="answer-card">
    <div *ngFor="let answer of answers">
        <quill-view [content]="answer.answer"></quill-view>
        <hr>
    </div>

    <h1>
        Your answer:
    </h1>
    <quill-editor [formControl]="answer" style="background-color: white"></quill-editor>
    <button mat-button color="primary" style="margin-top: 5px;" (click)="submitanswer()">Submit</button>
  </mat-card>
</div>
